# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Databases
*.sqlite3
*.db

# Media
output/
data/media/
screenshots/

# test
test_assets/
tools/goodbyedpi/**/*.exe, **/*.dll, **/*.sys

# venv
venv/
venv.bak/
env/
env.bak/
.venv/
.venv.bak/
.env/
.env.bak/