customtkinter
tkinterdnd2
scenedetect[opencv]
faster-whisper
openai
requests
jinja2
python-dotenv
keyring
rich
tqdm
DrissionPage
playwright
undetected-chromedriver
cloudscraper
curl-cffi
beautifulsoup4
SQLAlchemy
pysrt
ffmpeg-python
httpx
audio-separator[gpu]
onnxruntime-gpu==1.17.1
nvidia-cublas-cu11
nvidia-cudnn-cu11
numpy<2.0
torch
torchaudio
torchvision
